body {
            margin-top: 0px;
            font-family: 'Poppins', sans-serif;
            ;
        }

        #footer {
            background-color: white;
            position: fixed;
            z-index: 100;
            height: 74px;
            width: 100%;
            margin-left: -20px;
            display: flex;
            justify-content: space-between;
            top: 0px;
            padding: 0px 40px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        #sub {
            font-size: 115%;
        }

        .content {
            margin-top: 75px;
        }

        #footer a {
            text-decoration: none;
            color: #e5b95f;
        }

        #logo {
            margin-top: 10px;
            height: 48px;
            width: 188.56px;
            font-size: 32px;
            max-width: 100%;
            margin-left: 50px;
        }

        #right {
            font-size: 23px;
            list-style: none;
            display: flex;
            gap: 10px;
            margin-right: 70px;
        }

        .icon {
            font-size: 21px;
            color: #e5b95f;
            margin-left: 10px;

        }

        #menu {
            position: relative;
            display: inline-block;
            height: 170%;
            cursor: context-menu;
            cursor: pointer;
        }

        #dropdown {
            list-style: none;
            display: none;
            position: absolute;
            background-color: white;
            margin-left: -150px;
            padding: 20px;
            z-index: 1;
            line-height: 0;
            font-weight: 300;
        }

        #dropdown:hover {
            display: block;
        }

        #menu:hover~#dropdown {
            display: block;
        }

        #dropdown a {
            color: black;
            font-size: 16px;
            /* font-weight: bold; */
            letter-spacing: 0.5px;
            border: 0px;
        }

        #dropdown>li {
            line-height: 0.3;
        }

        #lang {
            font-size: 14px;
            margin-top: 10px;
            display: flex;
            gap: 10px;
        }

        #lang>p:nth-child(3) {
            margin-left: 10px;
        }

        #lang>p:nth-child(2) {
            color: #e5b95f;
        }

        #lang>p:nth-child(3):hover {
            color: #e5b95f;
        }

        /* #hidden{
            display: none;
        } */
        hr {
            height: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            border: 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        #cartnum {
            background-color: #e5b95f;
            color: black;
            z-index: 1;
            position: relative;
            font-size: 13px;
            font-weight: 700;
            height: 18px;
            width: 18px;
            text-align: center;
            border-radius: 90px;
            top: -0px;
            right: -20px;

        }

        .acc {
            font-weight: 599;
        }

        #cartnum p {
            margin-top: 0px;
        }

        .cart {
            position: absolute;
            margin-top: 5px;
        }