#myCart {
    font-size: 30px;
    margin-left: 180px;
    margin-top: 120px;
}

#container {
    /* border: 1px solid black; */
    width: 76%;
    height: 200px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

#_details {
    /* border: 1px solid black; */
    width: 66%;
}

#_pricing {
    /* border: 1px solid black; */
    width: 34%;            
    background-color: #f7f7f7;
    /* background-color: #dbd1d1; */
    margin-left: 10px;
}


#_head {
    display: flex;
    justify-content: space-between;            
    height: 30%;
}        

#_foot {
    /* border: 1px solid black; */
    height: 70%;
}

#_head, #_foot{
    border-bottom: 1px solid rgb(204, 199, 199);
}        

#qty_price{
    display: flex;
}

#qty_price{
    width: 30%;
}

#qty_price > div{
    width: 40%;
}

#_head p{
    font-size: 14px;
    font-weight: 600;
}

#_foot{
    display: flex;
    justify-content: space-between;
}        

#_foot img{
    width: 95%;
    margin-top: 5px;
}

#_foot > div{
    display: flex;
    align-items: center;
}

#_foot > div:nth-child(2) > p{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 10px;
}

#_foot > div:nth-child(3){
    width: 10%;
}

#_foot > div:nth-child(3) > input{
    width: 80%;
    height: 30px;
    margin-left: 0px;
    text-align: center;
}

#_foot > div:nth-child(4){
    width: 10%;
}

#_foot > div:nth-child(5){
    width: 6%;
}

#_foot i{
    font-size: 20px;
    color: grey;
}

#check_price{
    font-size: 14px;
}

#_keemat{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 14px;
    font-weight: 600;            
}

#update {
    margin-bottom: 20px;
    width: 90%;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #343434;
    color: white;
    display: block;
    margin: auto;
}

#update:hover{
    background-color: #e5b95f;
    cursor: pointer;
}

#check {
    margin-bottom: 20px;
    width: 90%;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #e5b95f;
    color: white;
    display: block;
    margin: auto;
}    

#check:hover{
    background-color: #343434;
    cursor: pointer;
}

#footer_ {
    margin-top: 130px;
}
